In [1]:
import os
from urllib.request import urlretrieve

import pandas as pd

import matplotlib.pyplot as plt
plt.style.use('seaborn')

URL = 'https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD'

def get_fremont_data(filename='Fremont.csv', url=URL, force_download=False):
    if force_download or not os.path.exists(filename):
        urlretrieve(url, filename)
    data = pd.read_csv(filename, index_col='Date', parse_dates=True)
    data.columns = ['West', 'East']
    data['Total'] = data['West'] + data['East']
    return data

In [2]:
data = get_fremont_data()

data.head()

                     West  East  Total
Date
2012-10-03 00:00:00   4.0   9.0   13.0
2012-10-03 01:00:00   4.0   6.0   10.0
2012-10-03 02:00:00   1.0   1.0    2.0
2012-10-03 03:00:00   2.0   3.0    5.0
2012-10-03 04:00:00   6.0   1.0    7.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40848 entries, 2012-10-03 00:00:00 to 2017-05-31 23:00:00
Data columns (total 3 columns):
West     40841 non-null float64
East     40841 non-null float64
Total    40841 non-null float64
dtypes: float64(3)
memory usage: 1.2 MB

In [4]:
data.resample('W').sum().plot()

Because Date is the index, we can resample weekly ('W') and it will use the date as the x-axis and plot the rest of the data columns

In [5]:
ax = data.resample('D').sum().rolling(365).sum().plot()
ax.set_ylim(0, None)

(0, 1058905.7)

In [6]:
data.groupby(data.index.time).mean().plot()

In [7]:
pivoted = data.pivot_table('Total', index=data.index.time, columns=data.index.date)
pivoted.iloc[:5, :5]

          2012-10-03  2012-10-04  2012-10-05  2012-10-06  2012-10-07
00:00:00        13.0        18.0        11.0        15.0        11.0
01:00:00        10.0         3.0         8.0        15.0        17.0
02:00:00         2.0         9.0         7.0         9.0         3.0
03:00:00         5.0         3.0         4.0         3.0         6.0
04:00:00         7.0         8.0         9.0         5.0         3.0

In [8]:
pivoted.plot(legend=False, alpha=0.01)